$vanilla-1: rgba(0, 5, 0, 1);
$vanilla-2: rgba(54, 36, 23, 1);
$vanilla-3: rgba(146, 129, 122, 1);
$vanilla-4: rgba(241, 218, 191, 1);
$vanilla-5: rgba(255, 251, 255, 1);

$color-1: $vanilla-1;
$color-2: $vanilla-2;
$color-3: $vanilla-3;
$color-4: $vanilla-4;
$color-5: $vanilla-5;
