$vanilla-1: rgba(0, 5, 0, 1);
$vanilla-2: rgba(54, 36, 23, 1);
$vanilla-3: rgb(143, 120, 111);
$vanilla-4: rgba(241, 218, 191, 1);
$vanilla-5: rgba(255, 251, 255, 1);

$banana-1: rgba(142, 131, 88, 1);
$banana-2: rgb(105, 187, 137);
$banana-3: rgb(204, 201, 19);
$banana-4: rgb(255, 244, 145);
$banana-5: rgb(253, 253, 253);

$color-1: $vanilla-1;
$color-2: $vanilla-2;
$color-3: $vanilla-3;
$color-4: $vanilla-4;
$color-5: $vanilla-5;
